{% include "header.html" %}

{% block content %}

<main>
    <br>
      <div class="container z-depth-1 rounded">
      <h2 class="center">You have successfully sold your book!</h2>
      <h3 class="center">The book has been deleted from our available textbooks list.</h3>

      <br>
        

      </div>

      <br>
      



<div class="row center">
    <a class="waves-effect waves-light btn-large" href="{{url_for('showSubjects')}}">Return</a>
</div>
</main>

{% endblock %}

{% include "footer.html" %}