  
{% include "header.html" %}

{% block content %}
<main>
  <div id="background-map"></div>
  <div class="content">
    {% include 'flash_messages.html' %}

    <div class="section"></div>
    <div class="row">
      <!-- USER CONTAINER STARTS HERE -->
      <div class="min-height col s12 m12 l4 offset-l1 z-depth-2 rounded">
        <div class="col s12 m12 l12">
         <div class="card-panel">
          <span class="blue-text text-darken-2 info-header">User List</span>
        </div>
        <ul class="collection" id="user_list">
          <li class="collection-item">Ali</li>
          <li class="collection-item">Nahian</li>
          <li class="collection-item">Groot</li>
        </ul>
      </div>
    </div>
    <!-- USER CONTAINER ENDS HERE -->

    <!-- ADDRESS CONTAINER STARTS HERE -->

    <div class="min-height col s12 m12 l6 offset-lhalf z-depth-2 rounded mobile-margin">
      <p class="center"></p>
      <div class="col s12 m12 l12">
       <div class="card-panel">
        <span class="blue-text text-darken-2 info-header">Enter multiple addresses, and we will recommend you restaurants most convenient to them all. </span>
      </div>
    </div> 

    <div class="section"></div>

    <div class="input-field col l9 s11">
      <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=dynamicMap" async defer></script>

      <input id="autocomplete" placeholder="" onFocus="geolocate()" type="text" class="validate"></input>
      <label class="active" for="address">Enter a suburb, or a more specific address</label>
    </div>
    <div class="col l3 s6 offset-s3 offset-l0">
    <a class="btn-large center-align" href="#" id="add_address"><i class="material-icons left">add_circle</i>Add</a>
  </div>
    <div class="col s12">
      <div class="row">
        <div class="col s6 offset-s5">

          <div class="preloader-wrapper active" style="display:none">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <p class="section-header">User Locations</p>
      <ul class="collection" id="location_list">
       <script type="text/javascript">
        {% for x in locations %}
        loadAddress("{{x.location_name}}");
        {% endfor %}
      </script>

    </ul>
    <div class="section"></div>

  </div>

  <div class="col s12 center">
    <a href="{{url_for('calculateConvergence')}}" class="btn findbtn">Find Locations Now</a>
    <div class="section"></div>
  </div>

</div>

</div>
<!-- ADDRESS CONTAINER ENDS HERE -->

<div class="row">
 <div class="col s12 m12 l10 offset-l1">
   <div id="map" class="rounded"></div>

   <div class="section"></div>
 </div>



</div>
</main>
<!-- Modal Structure -->
<div id="shareSession" class="modal">
  <div class="modal-content">
    <h4>Share Session</h4>
    <input onClick="this.select(); this.disabled = true;" id="session_id" value="{{request.url_root}}joinSession/{{ session }}" type="text" class="validate disabled">
    <meta id="session_id" data-name="{{session}}">
  </div>
  <div class="modal-footer">
    <a href="#" id="join_session" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


</div>




  {% endblock %}




