<!DOCTYPE html>

{% block head %}
<title>MeetupPoint</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/locations.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/google_scripts.js') }}"></script>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"  media="screen,projection"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}        

{% block content %}

<header>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper lightGreen">
      <a href="{{url_for('index')}}" class="brand-logo">Bridger</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons icon-black">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}"><i class="material-icons left">home</i>HOME</a></li>
        {% if session.username %}
        <li><a href="{{url_for('showSubjects')}}"><i class="material-icons left">book</i>SUBJECTS</a></li>
        <li><a href="{{url_for('messages')}}"><i class="material-icons left">message</i>MY MESSAGES</a></li>
        <li><a href="{{url_for('logout')}}"><i class="material-icons left">exit_to_app</i>LOG OUT</a></li>
        {% endif %}

      </ul>

   </div>
 </nav>
</div>

</header>

   <ul class="side-nav" id="mobile-demo">
        <li><a href="{{url_for('index')}}"><i class="material-icons left">home</i>HOME</a></li>
        {% if session.username %}
        <li><a href="{{url_for('showSubjects')}}"><i class="material-icons left">book</i>SUBJECTS</a></li>
        <li><a href="{{url_for('messages')}}"><i class="material-icons left">message</i>MY MESSAGES</a></li>
        <li><a href="{{url_for('logout')}}"><i class="material-icons left">exit_to_app</i>LOG OUT</a></li>

        {% endif %}
       
     </ul>

 <!-- Modal Structure -->
  <div id="joinSession" class="modal">
    <div class="modal-content">
      <h4>Join Session</h4>
      <p>Paste the session link you received here.</p>
      <input onClick="this.select();" id="session_id" value="{{request.url_root}}joinSession/sessionCode" type="text" class="validate">
    </div>
    <div class="modal-footer">
      <a href="#" id="join_session" class="modal-action modal-close waves-effect waves-green btn-flat">Let's Go</a>
    </div>
  </div>
         

{% endblock %}
