{% include "header.html" %}

{% block content %}

<main>
    <div class="row">
        <div class="col s3">
            <ul class="collection">
                <a class="collection-item">Alvin</a>
                <a class="collection-item">Ali</a>
                <a class="collection-item">Zarhayda</a>
                <a class="collection-item">James</a>
            </ul>
        </div>
        <div class="col s9" id="chat">
            <ul class="chatbox">
                <li class="chat">
                <img src="static/images/user.png" alt="Avatar">
                <p>Hello. I am interested in buying a textbook.</p>
                <span class="time-right">11:00</span>
                </li>
                
                <li class="chat darker">
                <img src="static/images/user.png" alt="Avatar" class="right">
                <p class="right">Sure, when are you in uni?</p>
                <span class="time-left">11:01</span>
                </li>
                
                <li class="chat">
                <img src="static/images/user.png" alt="Avatar">
                <p>Tomorrow, I will sent you the location once I'm there?</p>
                <span class="time-right">11:02</span>
                </li>
                
                <li class="chat darker">
                <img src="static/images/user.png" alt="Avatar" class="right">
                <p class="right">Sweet, see you there. Bring cash please.</p>
                <span class="time-left">11:05</span>
                </li>
            </ul>

            <div class="col s11">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
            </div>
            <div class="col s1">
                <button onclick="send()">Send</button>
            </div>

            <script>
            function send() {
                var x = document.getElementById("textarea1").value;
                var add = '<li class="chat darker"><img src="static/images/user.png" alt="Avatar" class="right"><p class="right">' + x + '</p><span class="time-left">11:05</span> </li>';
                $("#chat ul").append(add);
                document.getElementById("textarea1").value = "";
            }
            </script>
            
            <script>
                    // Google maps
                    var map, infoWindow;
                    function initMap() {
                      map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 15
                      });
                      infoWindow = new google.maps.InfoWindow;
              
                      // Try HTML5 geolocation.
                      if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                          var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                          };
              
                          infoWindow.setPosition(pos);
                          infoWindow.setContent('Location found.');
                          infoWindow.open(map);
                          map.setCenter(pos);
                        }, function() {
                          handleLocationError(true, infoWindow, map.getCenter());
                        });
                      } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                      }
                    }
              
                    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                      infoWindow.setPosition(pos);
                      infoWindow.setContent(browserHasGeolocation ?
                                            'Error: The Geolocation service failed.' :
                                            'Error: Your browser doesn\'t support geolocation.');
                      infoWindow.open(map);
                    }
                  </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Grw77GNz2fnPKnU23JWQaoXjeU97iT8&callback=initMap"async defer></script>
            <div id="map"></div>
            <br>
            <a href="{{url_for('login')}}" class="btn-large center lightGreen">Send Location</a>
        </div>
    </div>
</main>

{% endblock %}

{% include "footer.html" %}