
{% include "header.html" %}

{% block content %}
<main>

        <div class="container z-depth-1 rounded">
           <div class="row padding-left padding-top padding-right">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Book Name" value="{{book.name}}" id="first_name" type="text" class="validate">
          <label for="first_name">Book Name</label>
        </div>
         <div class="input-field col s6">
          <input placeholder="Author" value="{{book.author}}" id="first_name" type="text" class="validate">
          <label for="first_name">Author</label>
        </div>

         <div class="input-field col s6">
          <input placeholder="Suggested Price" value="{{book.price}}" id="first_name" type="text" class="validate">
          <label for="first_name">Price</label>
        </div>

          <div class="input-field col s6">
          <input placeholder="Subject" value="{{book.subject}}" id="first_name" type="text" class="validate">
          <label for="first_name">Subject</label>
        </div>

      </div>


    </form>
  </div>

        </div>



   <div class="row center">
  <a class="waves-effect waves-light btn-large">Sell Book</a>
  </div>
</main>
<!-- Modal Structure -->

  {% endblock %}


{% include "footer.html" %}
