  
{% include "header.html" %}

{% block content %}
<main>
<div class="container rounded z-depth-1">
  <div class="red"><h1 class="center padding-top padding-bottom">Sell a Resource</h1></div>
 
 <h2 class="padding-left">Your Past Subjects</h2>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>COMP2129</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>INFO1103</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>INFO21120</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

   <h2 class="padding-left">Your Current Subjects</h2>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>ELEC3610</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

  </ul>
        
 </div>
</main>
<!-- Modal Structure -->

  {% endblock %}

   {% include "footer.html" %}




