  
{% include "header.html" %}

{% block content %}
<main>
<div class="container rounded z-depth-1">
  <div class="lightGreen">
    <h1 class="center padding-top padding-bottom">Your Subjects</h1>
  </div>
 <h2 class="padding-left">Your Past Subjects</h2>

  <ul class="collapsible">
    {% for x in past_subjects %}
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>{{x.name}} - {{x.subject_code}} </div>
      <div class="collapsible-body"><span>Completed in {{x.year_completed}}</span></div>
    </li>
    {% endfor %}
  </ul>

   <h2 class="padding-left">Current Subjects</h2>

  <ul class="collapsible">
     {% for x in curr_subjects %}
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>{{x.name}} - {{x.subject_code}} </div>
      <div class="collapsible-body"><span>Completed in {{x.year_completed}}</span></div>
    </li>
    {% endfor %}

  </ul>

 </div>
   <div class="row center">
  <a class="waves-effect waves-light btn-large">Sync Subjects</a>
  <a class="waves-effect waves-light btn-large">Add Manually</a>
  </div>
</main>
<!-- Modal Structure -->

  {% endblock %}


{% include "footer.html" %}

