
{% include "header.html" %}

{% block content %}
<main>
<div class="container rounded z-depth-1">
 
        <div class="row">
          <div class="col s12 m12 l12">
          <div class="card red lighten-1">
          <div class="card-content center white-text">
           <h4> <strong>Book Here</strong> </h4> 
          </div>
          </div>
          </div>
        </div>
       
      
 </div>
   <div class="row center">
  <a class="waves-effect waves-light btn-large">Sell Book</a>
  </div>
</main>
<!-- Modal Structure -->

  {% endblock %}


{% include "footer.html" %}

